<!DOCTYPE html>
<html lang="en">
<head>
    <body>
        <form method="POST" action="/">
              <label for="fname">First name:</label><br>
              <input type="text" id="fname" name="title"><br>
              <label for="lname">Last name:</label><br>
              <input type="text" id="lname" name="title"><br><br>
               <label for="email">Email:</label>
  <input type="email" id="email" name="email"><br><br>
  <label for="pwd">Password:</label>
  <input type="password" id="pwd" name="pwd" minlength="8"><br><br>


              <input type="submit" value="Submit">

        </form>
    <meta charset="UTF-8">
    </body>
</html>